.Rproj.user
.Rhistory
.RData
stat540-tissueSpecificMethylation.Rproj
540-Project.Rproj
methylation/450kMethylationData_probeLevel.RData
methylation/450kMethylationData_geneLevelAverage.RData
.DS_Store
expression/HT12v3_expression.RData
methylation/450kMethylationData_geneLevelPromoterAverage.RData
methylation/450kMethylationData_probeLevel_clean.RData
methylation/450kMethylationData_geneLevelAverage_clean.RData
expression/HT12v3_avgExpressionByGene.RData
expression/genderForMeta.txt